:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  --heavy: 700;
  --medium: 500;
  --light: 400;
}

html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./images/bg-pattern-top-desktop.svg") , url("./images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-size: 40%, 80%;
  background-repeat: no-repeat;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.social-proof-text {
  width: 80%;
  display: grid;
  gap: 10px;
  align-items: center;
}


.social-proof-text__title {
  color: var(--Very-Dark-Magenta);
  font-size: 3.5rem;
  font-weight: var(--heavy); 
}

.social-proof-text__sub-title {
  color: var(--Dark-Grayish-Magenta);
  font-size: 1.2rem;
}

.ratings {
  justify-self: center;
  width: 80%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.rating {
  padding: 20px;
  width: 100%;
  background: var(--Light-Grayish-Magenta);
  color: var(--Very-Dark-Magenta);
  border-radius: 10px;
  font-weight: var(--heavy);
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.stars {
  flex: 0 0 auto;
}

.star {
  width: 18px;
}

.rating:nth-child(2) {
  margin-left: 30px;
}

.rating:nth-child(3) {
  margin-left: 60px;
}

.user-reviews {
  margin-top: 50px;
  grid-column: 1 / -1;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.user-review {
  padding: 30px;
  background: var(--Very-Dark-Magenta);
  border-radius: 5px;
  color: var(--White);
  display: grid;
  gap: 20px;
  grid-template-columns: 50px 1fr;
}

.user-review:nth-child(2) {
  position: relative;
  top: 10px;
}

.user-review:nth-child(3) {
  position: relative;
  top: 20px;
}

.user-img {
  border-radius: 50%;
  align-self: center;
}

.user-name {
  font-weight: var(--heavy);
  align-self: center;
}

.user-verified {
  color: var(--Soft-Pink);
}

.user-review-text {
  grid-column: 1 / -1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  .wrapper {
    margin: 20px;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .social-proof-text {
    width: 100%;
    text-align: center;
    align-content: center;
  }

  .social-proof-text__title {
    font-size: 2rem;
  }

  .ratings {
    width: 100%;
  }
  
  .rating {
    flex-direction: column;
    text-align: center;
  }

  .rating:nth-child(n+1) {
    margin: 0;
  }

  .user-review:nth-child(n+1) {
    position: static;
  }
}
